basePath: /
definitions:
  dto.CreateUserDTO:
    properties:
      email:
        type: string
      nome:
        minLength: 3
        type: string
      senha:
        minLength: 6
        type: string
    required:
    - email
    - nome
    - senha
    type: object
  dto.LoginInput:
    properties:
      email:
        type: string
      senha:
        type: string
    required:
    - email
    - senha
    type: object
  dto.LoginResponse:
    properties:
      message:
        type: string
      token:
        type: string
    type: object
  dto.ResponseUserDTO:
    properties:
      message:
        type: string
    type: object
  dto.UpdateUserDTO:
    properties:
      email:
        type: string
      nome:
        minLength: 3
        type: string
      senha:
        minLength: 6
        type: string
    type: object
  goal.AddProgressDTO:
    properties:
      amount:
        type: number
    required:
    - amount
    type: object
  goal.CreateGoalDTO:
    properties:
      target_value:
        type: number
      title:
        type: string
      user_id:
        type: integer
    required:
    - target_value
    - title
    - user_id
    type: object
  goal.UpdateGoalDTO:
    properties:
      current_value:
        type: number
      target_value:
        type: number
      title:
        type: string
    type: object
  models.Goal:
    properties:
      created_at:
        type: string
      current_value:
        type: number
      id:
        type: integer
      target_value:
        type: number
      title:
        type: string
      user_id:
        type: integer
    type: object
  models.Transaction:
    properties:
      category:
        type: string
      category_id:
        type: integer
      created_at:
        type: string
      id:
        type: integer
      type:
        type: string
      user_id:
        type: integer
      value:
        type: number
    type: object
  transaction.CreateTransactionDTO:
    properties:
      category:
        type: string
      type:
        type: string
      user_id:
        type: integer
      value:
        type: number
    type: object
  transaction.UpdateTransactionDTO:
    properties:
      category:
        type: string
      type:
        type: string
      value:
        type: number
    type: object
host: localhost:8081
info:
  contact: {}
  description: API para controlar despesas
  title: Nami API
  version: "1.0"
paths:
  /goals/:
    get:
      consumes:
      - application/json
      description: Retorna todas as metas de um usuário
      parameters:
      - description: ID do usuário
        in: query
        name: user_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Goal'
            type: array
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Lista metas do usuário
      tags:
      - Goals
    post:
      consumes:
      - application/json
      description: Cria uma meta financeira para o usuário
      parameters:
      - description: Dados de criação da meta
        in: body
        name: goal
        required: true
        schema:
          $ref: '#/definitions/goal.CreateGoalDTO'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Goal'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Cria uma nova meta
      tags:
      - Goals
  /goals/{id}:
    delete:
      consumes:
      - application/json
      description: Deleta uma meta pelo ID
      parameters:
      - description: ID da meta
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Remove uma meta
      tags:
      - Goals
    put:
      consumes:
      - application/json
      description: Atualiza dados da meta ou adiciona progresso
      parameters:
      - description: ID da meta
        in: path
        name: id
        required: true
        type: integer
      - description: Dados de atualização da meta
        in: body
        name: goal
        required: true
        schema:
          $ref: '#/definitions/goal.UpdateGoalDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Goal'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Atualiza uma meta
      tags:
      - Goals
  /goals/{id}/progress:
    post:
      consumes:
      - application/json
      description: Soma um valor ao progresso atual da meta
      parameters:
      - description: ID da meta
        in: path
        name: id
        required: true
        type: integer
      - description: Valor a adicionar
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/goal.AddProgressDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Goal'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
      summary: Adiciona progresso à meta
      tags:
      - Goals
  /login:
    post:
      consumes:
      - application/json
      description: Autentica o usuário e retorna um JWT
      parameters:
      - description: Credenciais de login
        in: body
        name: login
        required: true
        schema:
          $ref: '#/definitions/dto.LoginInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.LoginResponse'
        "400":
          description: Dados inválidos
          schema:
            $ref: '#/definitions/dto.LoginResponse'
        "401":
          description: Credenciais incorretas
          schema:
            $ref: '#/definitions/dto.LoginResponse'
        "500":
          description: Erro interno
          schema:
            $ref: '#/definitions/dto.LoginResponse'
      summary: Realiza login do usuário
      tags:
      - Auth
  /transactions:
    get:
      description: Lista todas as transações de um usuário em um mês específico
      parameters:
      - description: ID do usuário
        in: query
        name: user_id
        required: true
        type: integer
      - description: Mês (1-12)
        in: query
        name: month
        required: true
        type: integer
      - description: 'Ano (ex: 2025)'
        in: query
        name: year
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Transaction'
            type: array
        "400":
          description: Parâmetros inválidos
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Lista transações por mês
      tags:
      - Transactions
  /transactions/:
    post:
      consumes:
      - application/json
      description: Adiciona uma transação ao usuário
      parameters:
      - description: Dados de criação de transação
        in: body
        name: transaction
        required: true
        schema:
          $ref: '#/definitions/transaction.CreateTransactionDTO'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/models.Transaction'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Cria uma nova transação
      tags:
      - Transactions
  /transactions/{id}:
    delete:
      description: Remove uma transação pelo ID
      parameters:
      - description: ID da Transação
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Transação deletada com sucesso
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Transação não encontrada
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Erro interno
          schema:
            additionalProperties: true
            type: object
      summary: Deleta uma transação
      tags:
      - Transactions
    put:
      consumes:
      - application/json
      description: Atualiza valores da transação pelo ID
      parameters:
      - description: ID da transação
        in: path
        name: id
        required: true
        type: integer
      - description: Dados atualizados
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/transaction.UpdateTransactionDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Transaction'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Transação não encontrada
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Atualiza uma transação
      tags:
      - Transactions
  /usuarios/:
    post:
      consumes:
      - application/json
      description: Adiciona um usuário ao sistema
      parameters:
      - description: Dados de criação de usuário
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.CreateUserDTO'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
        "400":
          description: Dados inválidos
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
        "500":
          description: Erro ao criar usuário
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
      summary: Cria um novo usuário
      tags:
      - Users
  /usuarios/{id}:
    delete:
      description: Remove um usuário pelo ID
      parameters:
      - description: ID do Usuário
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Usuário deletado
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
        "404":
          description: Usuário não encontrado
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
      summary: Deleta um usuário
      tags:
      - Users
    put:
      consumes:
      - application/json
      description: Atualiza os dados de um usuário pelo ID
      parameters:
      - description: ID do Usuário
        in: path
        name: id
        required: true
        type: integer
      - description: Dados atualizados
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.UpdateUserDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
        "404":
          description: Usuário não encontrado
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ResponseUserDTO'
      summary: Atualiza um usuário existente
      tags:
      - Users
swagger: "2.0"
